h1 {
  line-height: 1em;
}

span.highlight {
  font-weight:700;
  color:#C11B17;
}

span.highlight-black {
  color: black;
  font-weight:700;
}

#title {
  color:black;
  text-align: center;
}

.slide q {
  margin-top: 0px;
  color:black;
}

.slide span.sub-header {
  font-size: smaller;
  margin-left: 1em;
  display: block;
}

.slide div.content {
  margin-top: 30px;
}

.slide .logo {
  margin: 1em 0 0 0;
  width: 50%;
}

.slide .center {
  text-align: center;
}

.slide .video {
  max-height: 400px;
}

.slide ul {
  margin-left: 2em;
  margin-bottom: 1em;
}

.slide ul li {
  list-style: square outside;
  line-height: 1.5em;
}
